<h1 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">HTMLST1</span></h1>

<hr />
<p style="text-align:center">&nbsp;</p>

<h2 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">Test for&nbsp;<strong>HTML Standard Browsers</strong></span></h2>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">HTMLST1 is the 1st Generation of this HTML Standard Test. This Test will Contain a Static Section, then a Interactive Section.</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h2 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">HTMLST1 Static Test</span></h2>

<h3>&nbsp;</h3>

<h3 style="text-align:center"><strong><span style="font-family:Verdana,Geneva,sans-serif">Alignment</span></strong></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">for This Test to Pass, The Following Text should MEET THE FOLLOWING</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">- 2 L&#39;s on the Left side</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">- 2 R&#39;s on the Right side</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">- 3 A&#39;s in the Middle</span></p>

<p style="text-align:center">&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<h1><span style="font-family:Trebuchet MS,Helvetica,sans-serif">L</span></h1>

<h1 style="text-align:center"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">A</span></h1>

<h1 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">R</span></h1>

<h1 style="text-align:center"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">A</span></h1>

<h1><span style="font-family:Trebuchet MS,Helvetica,sans-serif">L</span></h1>

<h1 style="text-align:center"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">A</span></h1>

<h1 style="text-align:right"><span style="font-family:Trebuchet MS,Helvetica,sans-serif">R</span></h1>

<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">&nbsp;</p>

<p style="text-align:right">&nbsp;</p>

<h3 style="text-align:center"><strong><span style="font-family:Verdana,Geneva,sans-serif">Text Content</span></strong></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">For This to Pass, The Statement must be Visible and must be true.</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>There are 10 Numbers Below.</strong></span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">1234567890</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>There are 26 Lowercase Letters Below.</strong></span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">q w e r t y u i o p a s d f g h j k l z x c v b n m</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>There are 26 Uppercase Letters Below.</strong></span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">Q W E R T Y U I O P A S D F G H J K L Z X C V B N M</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>There are 31 Symbols Below.</strong></span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">~ ! @ # $ % ^ &amp; * ( ) _ + &lt; &gt; ? : &quot; { } | - = [ ] \ ; &#39; , . /</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h3 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Picture</strong></span></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">For this to Pass, A Picture must be Visable Below.</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><img alt="" src="https://i.imgur.com/AFG5YbK.png" style="height:154px; width:765px" /></span></p>

<p style="text-align:center">Picture Source:&nbsp;<a href="https://imgur.com/AFG5YbK">https://imgur.com/AFG5YbK</a></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h2 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">HTMLST1 Embed/Link Test</span></h2>

<p>&nbsp;</p>

<h3 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Embed</strong></span></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">For this to pass, A Embed must <strong>Display a Clock</strong></span></p>

<div style="padding:1em 0; text-align:center"><iframe frameborder="0" height="90" src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&amp;size=small&amp;timezone=America%2FLos_Angeles" width="100%"></iframe></div>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h3 style="text-align:center"><strong><span style="font-family:Verdana,Geneva,sans-serif">Link</span></strong></h3>

<p>&nbsp;</p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">For this To Pass, The Link must Redirect you to the Right Location</span></p>

<p style="text-align:center"><br />
<span style="font-family:Verdana,Geneva,sans-serif"><strong>NOTE</strong>: This will&nbsp;<strong>CLOSE OUT THIS TEST PAGE</strong>. </span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Right or Middle Click on a Link (Mouse)</strong>, or <strong>Triple Click the Link (Trackpad)</strong>&nbsp;to open Links in a New Tab</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><a href="http://google.com"><span style="font-family:Verdana,Geneva,sans-serif">This will bring you to Google Search</span></a></p>

<p style="text-align:center"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"><span style="font-family:Verdana, Geneva, sans-serif">This will Rickroll you.</span></a></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h2 style="text-align:center">HTMLST1 Interactive Test</h2>

<p style="text-align:center">For this to Pass, All Interactive Items must <strong>Interact Apon User Input</strong></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h3 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Button</strong></span></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input name="Button" type="button" value="Click Me!" /></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h3 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Check Box</strong></span></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input type="checkbox" />&nbsp;This is Working!</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input type="checkbox" />&nbsp;This also Works!</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input type="checkbox" />&nbsp;Don&#39;t Forget about This</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h3 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Radio</strong></span></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input type="radio" />&nbsp;A</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input type="radio" />B</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input type="radio" />C</span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h3 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Text Box</strong></span></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><input name="text1" type="text" value="type here" /></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<h3 style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><strong>Text Area</strong></span></h3>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">Note: Make sure that you can resize this box also. This Test Fails if you cannot.</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif">To Resize, Click and Drag the Bottom Left Corner of the Text Area</span></p>

<p style="text-align:center"><span style="font-family:Verdana,Geneva,sans-serif"><textarea cols="10" name="Text2" rows="10">type here</textarea></span></p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center"><br />
&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p style="text-align:center">&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>
